

#game-wrapper {

position: relative;
margin: auto;
margin-top: 20px;
margin-bottom: 20px;
border: 1px solid black;

}

#game-wrapper #playScreen {
	
}

#game-wrapper .tile {
	display: inline-block;
	position: absolute;
	width: 32px;
	height: 32px;
}

#game-wrapper .tile.empty { background-color: white; }
#game-wrapper .tile.box { background: url('../images/box.png') no-repeat}
#game-wrapper .tile.box-ok { background: url('../images/box_ok.png') no-repeat}
#game-wrapper .tile.objective { background: url('../images/objective.png') no-repeat}
#game-wrapper .tile.wall { background: url('../images/wall.png') no-repeat}
#game-wrapper .tile.mario-up { background: url('../images/mario_up.gif') no-repeat}
#game-wrapper .tile.mario-right { background: url('../images/mario_right.gif') no-repeat}
#game-wrapper .tile.mario-down { background: url('../images/mario_down.gif') no-repeat}
#game-wrapper .tile.mario-left { background: url('../images/mario_left.gif') no-repeat}

